
{{#project}}
<div id="projectdata" data-name="{{name}}" data-idstr="{{idstr}}" data-baseurl="{{baseurl}}"></div>

<div class="commandbar">
<div class="commandbutton button_to_projectlist">Project List</div>
<div data-href="" class="commandbutton button_view_default project_viewbutton">Default View</div>
<div data-href="docdb/" class="commandbutton button_view_docdb project_viewbutton">DocumentDB View</div>
<div data-href="cas/" class="commandbutton button_view_cas project_viewbutton">CAS View</div>
</div>
{{/project}}
