<!DOCTYPE html>
<html manifest="/manifest">
<head>
<meta charset="utf-8" />
<title>{{title}}</title>
<link rel="stylesheet" href="/static/d2p.css" />
{{{headers}}
</head>
<body data-configJSON="{{configJSON}}">
<nav id="actions"></nav>

<header>
    <h1 data-title="{{title}}">{{title}}</h1>
</header>