{{>cono_header}}

<div class="cono_proposals">
{{#proposals}}

<div class="viewlink cono_proposals_proposal" data-href="{{_id}}/">
<h2 class="cono_proposal_title">{{title}}</h2>
<p class="cono_proposal_description">{{description}}</p>
</div>

{{/proposals}}
</div>

<div class="commandbar">
<div class="commandbutton project_proposal_new_button">New Proposal</div>
</div>