{{>cono_header}}

<div class="cas_view">

<table>
<tbody>
{{#cas_blocks}}
<tr>
<th title="{{blockId}}">{{blockId_short}}..</th>
<td>{{contentText}}</td>
</tr>
{{/cas_blocks}}
</tbody>
</table>

</div>

