
<div class="commandbar">
<div class="commandbutton button_addproject">Create Project</div>
</div>

<ul class="projects">
{{#projects}}
    <li><a href="{{baseurl}}">{{name}}</a></li>
{{/projects}}
</ul>
